*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    background: url('../images/20100825AthleticsSammisTennisCourts01.jpg') no-repeat;
    background-position: center;
    background-size:cover 100%;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.box{
    border: 2px solid black;
    width: 400px;
    margin-top: 9%;
    border-radius: 10px;
    padding: 30px 40px;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px black;
    align-self: center;
    margin-top: 200px;
}
.box h1{
    font-size: 40px;
    text-align: center; 
}
.box .input{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.box .input:hover{
    background-color: rgb(196, 196, 237);
    border-radius: 15px;
}
.input input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid black;
    font-weight: 600;
    border-radius: 15px;
    font-size: 16px;
    padding: 20px 45px 20px 20px; 
}
.box input::placeholder{
    color: black;
}
.box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.box .remember{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}
.remember label input{
    accent-color: black;
    margin-right: 3px;
}
.box .btn{
    width: 100%;
    height: 45px;
    background-color: rgb(196, 196, 237);
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: rgb(36, 36, 36);
    font-weight: 600;
}
.btn:hover{
    box-shadow: 0 0 10px rgb(196, 196, 237);
}
.box .do_not_have_an_account{
    font-size: 14px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
}
.do_not_have_an_account p a {
    color: rgb(212, 212, 212);
    text-decoration: none;
    font-weight: 600;
}
.do_not_have_an_account p a:hover{
    text-decoration: underline;
}
