html{
    height: 100%;
    width: 100%;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

li{
    float: left;
}

img {
    float:left;
    padding-left: 0.3%;
    padding-right: 0.8%;
    padding-top: 0.3%;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    transition: background-color 0.7s;
}

li a:hover:not(.active){
    background-color: rgb(0, 0, 0);
}

.menubar{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    overflow: hidden;
    position: fixed;
    background-color: rgb(44, 43, 43);
    top: 0;
    width: 100%;
    align-items: center;
}

.active{
    background-color: seagreen;
}

.logo{
    float: left;
    margin: 20px;
    margin-right: 50px;
    align-items: center;
    color: white;
}



.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: rgb(44, 43, 43);
    color: white;
    text-align: center;
    height: 2.1rem;
    padding: 8px;
    align-items: center;
    margin-top: auto;
    flex-shrink: 0
}

.container{
    margin-top:100px;
    margin-right: 20px;
    margin-left: 20px;

}

.title{
    font-size: 35px;
    font-weight: 600;
}

.table_title{
    color: #588c7e;
    font-size: 20px;
}

.table{
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    border: 1px solid rgb(133, 133, 133);
    text-align: center;
    margin-bottom: 25vh;
}

td, th{
    border: 1px solid rgb(133, 133, 133);
    padding: 8px;
}

.del_button{
    color: white;
    background-color: rgb(255, 83, 83);
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.b_button{
    color: white;
    background-color: rgb(83, 169, 255);
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}