*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    background: url('../images/table_tennis.jpg') no-repeat;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-position: center center;
    background-size:cover;
    background-attachment: fixed;
    overflow-x: hidden;
}
.box{
    border: 2px solid black;
    width: 700px;
    border-radius: 10px;
    padding: 30px 40px;
    margin-top: 2%;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px black;
}
.box h1{
    font-size: 40px;
    text-align: center; 
}

.box .start_end_time{
    display: flex;
}

.box .start_end_time .input{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    background-color: white;
    border-radius: 15px;
    margin-inline: 10px;
}

.box .start_date{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    background-color: white;
    border-radius: 15px;
}

.box .start_date:hover{
    background-color: rgb(196, 196, 237);
    border-radius: 15px;
}

.box .start_end_time .input:hover{
    background-color: rgb(196, 196, 237);
    border-radius: 15px;
}
.start_end_time .input input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid black;
    font-weight: 600;
    border-radius: 15px;
    font-size: 16px;
    padding: 20px 45px 20px 20px; 
}

.start_date input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid black;
    font-weight: 600;
    border-radius: 15px;
    font-size: 16px;
    padding: 20px 45px 20px 20px; 
}

.box input::placeholder{
    color: black;
}
.box .court_number{
    text-align: center;
    justify-content: space-between;
    font-size: 17px;
    font-weight: 550;
    margin: 10px 0 5px;
}
.court_number label input{
    accent-color: seagreen;
    margin: 5px;
}

.court{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.box .Days{
    text-align: center;
    justify-content: space-between;
    font-size: 17px;
    font-weight: 550;
    margin: 20px 0 5px;
}
.Days label input{
    accent-color: black;
    margin: 5px;
}
.box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.box .remember{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}
.remember label input{
    accent-color: black;
    margin-right: 3px;
}
.box .btn{
    width: 100%;
    height: 45px;
    background-color: rgb(196, 196, 237);
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: rgb(36, 36, 36);
    font-weight: 600;
}
.btn:hover{
    box-shadow: 0 0 10px rgb(196, 196, 237);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-webkit-calendar-picker-indicator {
    display: none;
  }

.back_button{
    position: absolute;
    top: 50px;
    left: 30px;
    font-size: 20px;
    background-color: rgb(44, 43, 43);
    padding: 10px 20px;
    border: solid 1px white;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: color 0.7s;
}

.back_button:hover{
    border-color: black;
}

.input{
    accent-color: black;
    margin: 5px;
}

.box .input{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input:hover{
    background-color: rgb(196, 196, 237);
    border-radius: 15px;
}
.input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid black;
    font-weight: 600;
    border-radius: 15px;
    font-size: 16px;
    padding: 20px 45px 20px 20px; 
}
.box input::placeholder{
    color: black;
}